################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.gitignore
/.vs/AuthDemoApi/DesignTimeBuild
/.vs/AuthDemoApi/v17
/AuthDemoApi/AuthDemoApi.csproj.user
/.vs/AuthDemoApi
/AuthDemoApi/bin/
/AuthDemo.Application/bin
/AuthDemo.Application/obj
/AuthDemo.Core/bin
/AuthDemo.Core/obj
/AuthDemo.Infrastructure/bin
/AuthDemo.Infrastructure/obj
/AuthDemoApi/bin
/AuthDemoApi/obj
